* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #CBB26A;
  margin: 0;
  height: 100vh;
}

header {
  height: 15vh;
}
header div #logo {
  width: 250px;
  height: 120px;
}
header nav ul li a {
  text-decoration: none;
  color: #CBB26A;
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
  font-size: 1.5rem;
  border-radius: 40px;
  border: 2px solid black;
  padding: 20px;
}
header nav ul li a:hover {
  background-color: #CBB26A;
  color: #1a1a1a;
  font-size: 2rem;
}

main {
  height: 75vh;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}
main #seccion {
  height: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}
main #seccion #section {
  width: 70%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
main #seccion #section #Barcos {
  margin-right: 15px;
  display: flex;
  flex-wrap: wrap;
  width: 550px;
  height: 450px;
}
main #seccion #section #Pesca {
  display: flex;
  flex-wrap: wrap;
  width: 550px;
  height: 450px;
}
main #seccion #aside {
  width: 22%;
  border: 2px solid black;
  background-color: #1a1a1a;
  color: #CBB26A;
  height: 450px;
  margin-top: auto;
  margin-bottom: auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-family: "Times New Roman", Times, serif;
}
main #seccion #aside .titulo {
  text-align: center;
  font-weight: bold;
}
main #seccion #aside .texto {
  justify-content: flex-end;
  text-align: center;
  align-items: center;
}

main h1 {
  text-align: center;
}
main .container-flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 100%;
}
main .container-flex .container-img {
  width: 300px;
  height: 300px;
  background-color: white;
  border: 2px solid black;
}
main .container-flex .container-img #merluza {
  width: 200px;
  height: 200px;
}
main .container-flex .container-img {
  width: 300px;
  height: 300px;
  border: 2px solid black;
  background-color: white;
}
main .container-flex .container-img #calamar {
  width: 200px;
  height: 200px;
}
main .container-img {
  width: 300px;
  height: 300px;
  border: 2px solid black;
  background-color: white;
}
main .container-img #abadejo {
  width: 200px;
  height: 200px;
}

.container-img {
  width: 300px;
  height: 300px;
  border: 2px solid black;
  background-color: white;
}
.container-img #langostino {
  width: 200px;
  height: 200px;
}

main .nosotros {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  text-align: center;
  font-family: "Times New Roman", Times, serif;
}
main .resp1 {
  font-size: 1.5rem;
  font-family: Arial, Helvetica, sans-serif;
}

.fotos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.fotos #puerto {
  width: 500px;
  height: 350px;
  margin-right: 20px;
}
.fotos #planta {
  width: 500px;
  height: 350px;
}

.produccion {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "Times New Roman", Times, serif;
}
.produccion .resp2 {
  font-size: 1.5rem;
}

main #informacion {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
main #informacion #titulo {
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
}
main #informacion #descongelado {
  text-align: center;
  font-size: 2rem;
  border-bottom: 3px solid white;
  font-family: Arial, Helvetica, sans-serif;
}
main #informacion #descongela2 {
  text-align: center;
  font-size: 1.5rem;
  border-bottom: 3px solid white;
}
main .img-tips {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 25px;
}
main .img-tips #video {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 20px;
}
main .img-tips #video iframe {
  width: 500px;
  height: 350px;
}
main .containerTips {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 50%;
  margin-left: 20px;
}
main .containerTips h2 {
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
}

main #content {
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
main #content #Ubicacion {
  display: flex;
  justify-content: center;
  align-items: center;
}
main #content #Ubicacion iframe {
  width: 600px;
  height: 450px;
}
main #content #formulario {
  border: 2px solid black;
  margin: 200px;
  padding: 0;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  width: 600px;
  height: 450px;
}
main #content #formulario form fieldset legend {
  color: #CBB26A;
  border-bottom: 2px solid white;
}
main #content #formulario form fieldset div label {
  color: #CBB26A;
}
main #content #formulario form fieldset div label {
  color: #CBB26A;
}
main #content #formulario form fieldset div label {
  color: #CBB26A;
}
main #content #formulario form fieldset div #Provincia {
  width: 100%;
}
main #content #formulario form fieldset .Mensaje label {
  color: #CBB26A;
}
main #content #formulario form fieldset .Mensaje #mensaje {
  width: 100%;
}
main #content #formulario form .reset {
  text-decoration: none;
  background-color: #1a1a1a;
  color: #CBB26A;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
  border: 2px solid black;
  padding: 20px;
}
main #content #formulario form .reset:hover {
  background-color: #1a1a1a;
  color: white;
  font-size: 1.7rem;
}
main #content #formulario form .send {
  text-decoration: none;
  background-color: #1a1a1a;
  color: #CBB26A;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
  border: 2px solid black;
  padding: 20px;
}
main #content #formulario form .send:hover {
  background-color: #1a1a1a;
  color: white;
  font-size: 1.7rem;
}

footer {
  height: 10vh;
  background-color: #1a1a1a;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 36px;
  color: #CBB26A;
  text-align: center;
  margin-top: auto;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-around;
}
footer .contenedorP {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
footer .contenedorP .copy {
  justify-content: flex-start;
  align-items: center;
}
footer .contenedorP .copy p {
  text-align: center;
  align-items: center;
  font-family: "Times New Roman", Times, serif;
}
footer .contenedorP .navRedes {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
}
footer .contenedorP .navRedes .redes {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
}
footer .contenedorP .navRedes .redes .svgF {
  list-style: none;
  align-self: flex-end;
}
footer .contenedorP .navRedes .redes .svgF a {
  text-decoration: none;
}
footer .contenedorP .navRedes .redes .svgF a img {
  width: 50px;
  height: 50px;
  margin-right: 5px;
}
footer .contenedorP .navRedes .redes .svgI {
  list-style: none;
  list-style-type: none;
  display: flex;
  flex-direction: row;
}
footer .contenedorP .navRedes .redes .svgI a {
  text-decoration: none;
  border: none;
}
footer .contenedorP .navRedes .redes .svgI a img {
  width: 54px;
  height: 53px;
}
footer .contenedorP .navRedes .redes .svgW {
  list-style: none;
  list-style-type: none;
  align-self: flex-end;
}
footer .contenedorP .navRedes .redes .svgW a {
  text-decoration: none;
}
footer .contenedorP .navRedes .redes .svgW a img {
  width: 50px;
  height: 50px;
}

/*# sourceMappingURL=style.css.map */
