* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}


a{
    text-decoration: none;
    color:#CBB26A;
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
    border: 2px solid black;
   
}

body{
        background-color: #CBB26A;
        margin: 0;
        height: 100vh;
}
    


header{
    height: 15vh;
}

main{
    height: 75vh;

}

footer{
    height: 10vh;
    background-color: #1a1a1a;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 36px;
    color: #CBB26A;
    text-align: center;
    margin-top: auto;
}

#section{
    width: 70%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
    
}

     
#aside{ 
    width: 22%;
    border: 2px solid black;
    background-color: #1a1a1a;
    color:#CBB26A;
    height: 450px;
    justify-content: center;
    align-items: center;
 
    

}


#Barcos {
    margin-right: 15px;
    display: flex;
    flex-wrap: wrap;
}

#Pesca{
    display: flex;
    flex-wrap: wrap;
}




.volver{
    color: #1a1a1a;
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
    border: 2px solid black;
}

.reset{
    background-color: #CBB26A;
    color: #1a1a1a;
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
    border: 2px solid black;
}
.send{
    background-color: #CBB26A;
    color: #1a1a1a;
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
    border: 2px solid black;
}



