main{
    #content{
        height: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        @include tabletL{
            flex-direction: column;
        }
        #Ubicacion{
            display: flex;
            justify-content: center;
            align-items: center;
            iframe{
                width: 600px;
                height: 450px;
                @include desktopL{
                    width: 400px;
                    height: 250px;
                }
            }
        }
        #formulario{
            border: 2px solid black;
            margin: 200px;
            padding: 0;
            display: flex;
            flex-flow: column wrap;
            justify-content: center;
            align-items: center;
            width: 600px;
            height: 450px;
            @include desktopL{
                width: 400px;
                height: 350px;
            }
        }
            form{
                fieldset{
                    legend{
                        color: #CBB26A;
                        border-bottom: 2px solid white;
                        font-family: $fuente;

                    }
                    div{
                        label{
                            color: #CBB26A;
                        }

                    }
                    div{
                        label{
                            color: #CBB26A;
                        }

                    }
                    div{
                        label{
                            color: #CBB26A;
                        }
                        #Provincia{
                            width: 100%;

                            
                        }
                    }
                    .Mensaje{
                        label{
                            color: #CBB26A;
                        }
                        #mensaje{
                            width: 100%;
                        }
                            
                        }
                    }
                    .reset{
                        text-decoration: none;
                        background-color: #1a1a1a;
                        color:#CBB26A;
                        font-family: Arial, Helvetica, sans-serif;
                        font-size: 1.5rem;
                        border: 2px solid black;
                        padding: 20px;
                        font-family: $fuente;
                        &:hover{
                            background-color: #1a1a1a;
                            color: white;
                            font-size: 1rem;
                        }
    
                    }
                    .send{
                        text-decoration: none;
                        background-color: #1a1a1a;
                        color:#CBB26A;
                        font-family: Arial, Helvetica, sans-serif;
                        font-size: 1.5rem;
                        border: 2px solid black;
                        padding: 20px;
                        font-family: $fuente;
                        &:hover{
                            background-color: #1a1a1a;
                            color: white;
                            font-size: 1rem;
                    }
                }                
            }
        }
    }
