main{
    #informacion{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        margin-top: 20px;
        margin-bottom: 20px;
        #titulo{
            font-family:$fuente;
            font-weight: bold;
            @include desktopL{
                font-size: 1.5rem;
            }
        }
        .contenedorPuntos{
            .puntos{
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
                justify-content: center;
                .p1{
                    list-style: none;
                    text-align: center;
                    font-size: 2rem;
                    border-bottom: 3px solid white;
                    font-family: Arial, Helvetica, sans-serif;
                    @include desktopL{
                        font-size: 1rem;
                    }
                }
                .p2{
                    list-style: none;
                    text-align: center;
                    padding: 1%;
                    font-size: 1.5rem;
                    border-bottom: 3px solid white;
                    @include desktopL{
                        font-size: 1rem;
                    }
        
                }

            }
        }
            
        
        
    }

    .img-tips{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin-bottom: 25px;
        #video{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            margin-bottom: 20px;
            iframe{
                width: 500px;
                height: 350px;
                @include desktopL{
                    width: 350px;
                    height: 200px;
                }
            }
        }
    }

    .containerTips{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        width: 50%;
        height: 50%;
        margin-left: 20px;
        @include desktopL{
            width: 250px;
            height: 200px;
        }
        h2{
            text-align: center;
            font-family:$fuente;
            font-weight: bold;
            @include desktopL {
                font-size: 1rem;
            }
        }
    }
}