main{
    #informacion{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        margin-top: 20px;
        margin-bottom: 20px;
        #titulo{
            font-family:'Times New Roman', Times, serif;
            font-weight: bold;
        }
        #descongelado{
            text-align: center;
            font-size: 2rem;
            border-bottom: 3px solid white;
            font-family: Arial, Helvetica, sans-serif;
        }
        #descongela2{
            text-align: center;
            font-size: 1.5rem;
            border-bottom: 3px solid white;

        }
    }

    .img-tips{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin-bottom: 25px;
        #video{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            margin-bottom: 20px;
            iframe{
                width: 500px;
                height: 350px;

            }
        }
    }

    .containerTips{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        width: 50%;
        height: 50%;
        margin-left: 20px;
        h2{
            text-align: center;
            font-family:'Times New Roman', Times, serif;
            font-weight: bold;
        }
    }
}