footer{
    height: 100px;
    background: $gradiante;
    font-family: $fuente;
    font-size: 36px;
    color: #CBB26A;
    text-align: center;
    margin-top: auto; 
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    bottom: 0;
    width: 100%;
    @include tabletM{
        width: 100%;
    }
    @include mobileL{
        width: 100%;
    }
    @include mobileS{
        width: 100%;
    }

    .contenedorP{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        @include tabletM{
            width: 100%;
        }
        @include mobileL{
            width: 100%;
        }
        .copy{
            justify-content: flex-start;
            align-items: center;
            p{
                text-align: center;
                align-items: center;
                font-family: $fuente;

                @include desktopM{
                    font-size: 1.5rem;
                }

                @include tabletL{
                    font-size: 1.2rem;
                }
            }
        }
        
        .navRedes{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: flex-end;
            .redes{
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: flex-end;
                .svgF{
                    list-style: none;
                    align-self: flex-end;
                    a{
                        text-decoration: none;
                        img{
                            width: 50px;
                            height: 50px;
                            margin-right: 5px;
                        }
                    }
                }
                .svgI{
                    list-style: none;
                    list-style-type: none;
                    display: flex;
                    flex-direction: row;
                    a{
                        text-decoration: none;
                        border: none;
                        img{
                            width: 54px;
                            height: 53px;
                        }
                    }
                }
            
                .svgW{
                    list-style: none;
                    list-style-type: none;
                    align-self: flex-end;
                    a{
                        text-decoration: none;
                        img{
                            width: 50px;
                            height: 50px;
                        }
                    }
                }
            }
        }
    }
        
}