header{
    height: 15vh;
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 13%, rgba(60,60,60,1) 18%, rgba(52,51,51,1) 70%, rgba(0,0,0,1) 86%);
    div{
        #logo{
            width: 250px;
            height: 120px;
        }
    }
    nav{
        ul{
            li{
                list-style: none;
                a{
                    text-decoration: none;
                    color:#CBB26A;
                    font-family:'Times New Roman', Times, serif;
                    font-weight: bold;
                    font-size: 1.5rem;
                    border-radius: 40px;
                    padding: 20px;

                    &:hover{
                        background-color: #CBB26A;
                        color: #1a1a1a;
                        font-size: 2rem;
                    }

                }
            }
        }
    }
}