main{
    height: 75vh;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    #seccion{
        height: 100%;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
        #section{
            width: 70%;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            #Barcos{
                margin-right: 15px;
                display: flex;
                flex-wrap: wrap;
                width: 550px;
                height: 450px;
            }
            #Pesca{
                display: flex;
                flex-wrap: wrap;
                width: 550px;
                height: 450px;
            }
        }
        #aside{
            width: 22%;
            border: 2px solid black;
            background-color: #1a1a1a;
            color:#CBB26A;
            height: 450px;
            margin-top: auto;
            margin-bottom: auto;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            .titulo{
                text-align: center;
            }
            .texto{
                justify-content: flex-end;
                text-align: center;
                align-items: center;
            }
    }
    
    }
}