@media (min-width:1200px) and (max-width: 1642px) {
    #Barcos{
        width: 350px;
        height: 250px;
    }
    #Pesca{
        width: 350px;
        height: 250px;

    }
    #aside{
        display: none;
    }
}