main{
    .nosotros{
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        text-align: center;
        font-family:'Times New Roman', Times, serif;
        }
        .resp1{
            font-size: 1.5rem;
            font-family: Arial, Helvetica, sans-serif;
        }
    }
    .fotos{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
            #puerto{
            width: 500px;
            height: 350px;
            margin-right: 20px;
            }
            #planta{
            width: 500px;
            height: 350px;
            }
        }
    .produccion{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-family:'Times New Roman', Times, serif;
        .resp2{
            font-size: 1.5rem;
        }
        
    }


